.container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 4.25rem 3rem;
}

.entry_link {
  color: #3ba534;
}

.entry_link:hover {
  text-decoration: none;
  color: #2b8024;
}
