.container {
  background-color: white;
  width: 100%;
  justify-content: center;
}

.content {
  max-width: 100%;
  padding: 4.25rem 3rem;
}

.arrow {
  color: rgb(220, 220, 220);
  transition: color 0.3s;
  display: block;
}

.arrow:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}
