.container {
  width: 17rem;
  height: 3.25rem;
  border-radius: 1.625rem;
  padding: 0 1rem;
  font-size: 20px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.container:active,
.container:focus {
  outline: none;
}
